# Virtualenv
.venv/
venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

data/